*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}
/* nav bar */
.navbar{
    
    & img[alt='logo']{
        width: 5rem
    }
}
/* all images */
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* text-align to the center */
:is(h2){
    text-align: center;
}
/* layout */
body{
    display: grid;
}
/* number of rows */
body{
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}